@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #081b29;
    color: #ededed;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #081b29;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover{
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;
}

.image{
    padding-left: 150px;
    width: 600px;
    padding-top: 50px;
    filter: drop-shadow(20px 7px 5px #044c69);
}

.a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #e1dede;
    display: block;
    margin-left: 0px;
    transition: 0.5s;
    
}
.a:hover::after{
    width: 100%;
}

.about{
    margin-top: 40px;
}



/* Pour les petits écrans */
@media screen and (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 200px;
    }

    .image {
        order: -1; 
        margin-top: 20px;
        margin-right: 110px;
        max-width: 400px; 
    }

    .home-content {
        text-align: center;
        order: 1;
        margin-top: 10px;
    }
    .home-sci{
        margin-top: 300px;
        order: -1;
    }

}


.toggle-navbar-btn{
    display: none;
}



/* Style pour la barre de défilement */
::-webkit-scrollbar {
    width: 20px; 
  }

  ::-webkit-scrollbar-track {
    background: #081b29; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #028cc3; 
  }
  
.about{
    color: #00abf0;
    margin-bottom: 5px;
}

.proj{
    margin-right: 50px;
    border: 2px solid #00abf0;
    width: 320px;
    height: 280px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px #00abf0;
    cursor: pointer;
    transition: 0.3s;
}
.proj:hover{
    transform: scale(1.04);
}
.sec4{
    display: block;
    margin-left: 110px;
}
.showCertificate{
    display: none;
}
.showCertificate{
    background: #00abf0;
    color: #fff;
    width: 150px;
    padding: 7px;
    border: 1px solid #00abf0;
    border-radius: 10px;
}
div.gallery {
    margin-right: 10px;
    border: 1px solid #00abf0;
    border-radius: 10px;
    float: left;
    width: 180px;
    margin-top: 20px;
    transition: 0.4s;
  }
  
  div.gallery:hover {
    border: 1px solid #00abf0;
    box-shadow: 0 0 10px #00abf0;
    transform: scale(1.04);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }


.Certificates{
    margin-top: 30px;
}

.certif{
    border-radius: 10px;
}

.showmore{
    margin-top: 20px;
    border-radius: 10px;
    padding: 7px;
    font-weight: 600;
    background: #00abf0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.showmore:hover{
    color: #00abf0;
    background: #fff;
}

::selection {
    background-color: #00abf0;
    color: #fff;
}

.sec3{
    display: flex;
    margin-right: 110px;
    margin-left: 150px;
}
.namee{
    text-align: center;
}
.Projects{
    margin-bottom: 20px;
}
.skills{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
} 
.footer{
    display: inline-block;
    width: 100%;
}

.circlepic{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #00abf0;
    box-shadow: 0 0 30px #00abf0;
    margin-top: 40px;
    margin-bottom: 40px;
}
.skilllllls{
    width: 100%;
    display: flex;
    justify-content: center;
}
.skillsss{
    margin: 20px 20px;
    border: 1px solid #00abf0;
    box-shadow: 0 0 10px #00abf0;
    border-radius: 40%;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}
.skillsss:hover{
    transform: scale(1.05);
}
.skills{
    color: #fff;
}
.skillsss img{
    text-align: center;
}
.skillll{
    margin: 0 60px;
    box-shadow: 0 0 10px #00abf0;
    border-radius: 30px;
}
.showSkills{
    background: #00abf0;
    color: #fff;
    width: 150px;
    padding: 7px;
    border: 1px solid #00abf0;
    border-radius: 10px;
    display: none;
}

.codingpic{
    display: none;
}

.sec5{
    display: none;
}
.certttimg{
    display: none;
}
.lasttext{
    text-align: center;
    font-weight: 500;
    padding: 6px;
}
.foote{
    background: #044c69;
}

  /* Media Query for Small Screens */
@media screen and (max-width: 768px) {
    /* Adjustments for smaller screens */
    .skillsss{
        width: 80px;
    }
    .certttimg{
        display: block;
    }
    .sec5{
        display: none;
        margin-left: 10px;
    }
    .codingpic{
        display: block;
    }
    .showSkills{
        display: block;
    }
    .sec4{
        display: none;
    }
    .footer{
        margin-top: 30px;
    }

    .sec5{
        margin-left: 65px;
        justify-content: center;
    }

    div.skil {
        margin-right: 20px;
        border: 1px solid #00abf0;
        box-shadow: 0 0 10px #00abf0;
        border-radius: 10px;
        float: left;
        width: 80px;
        margin-top: 20px;
        padding:10px ;
        padding-right: 10px;
        transition: 0.4s;
      }
      
      div.skil:hover {
        border: 2px solid #00abf0;
        box-shadow: 0 0 10px #00abf0;
        transform: scale(1.04);
      }
      
      div.skil img {
        width: 100%;
        height: auto;
      }

      .logo{
        border-radius: 10px;
        padding: 10px;
    }

    .skillsss {
        width: calc(50% - 40px); 
    }
    .skilllllls{
        display: inline-block;
        display: none;
    }
    .skillsss img{
        width: 70px;
    }
    .header {
        flex-direction: column;
        align-items: center;
        background: #081b29;
    }
    .skill {
        width: 500px;
        margin: 60px auto;
        color: #fff;
        padding: 20px;
        box-shadow: 0 8px 20px rgba(6, 157, 233, 0.961), 0 2px 2px rgba(6, 157, 223, 0.953);
        margin-right: 20px;
        margin-left: 20px;
    }
    .showCertificate{
        display: block;
    }
    .logo {
        margin-bottom: 15px; 
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .navbar a {
        margin: 10px 0;
        display: block;
    }
    .toggle-navbar-btn {
        display: flex;
        cursor: pointer;
    }
    .image {
        padding-left: 0;
        width: 80%;
        padding-top: 175px;
        margin-right: 0;
    }
    .home-sci {
        margin-top: 75px;
    }
    .show-navbar .navbar {
        display: flex; 
    }
    .sec3 {
        flex-direction: column; /* Empile les éléments les uns sur les autres */
        align-items: center; /* Centre les éléments horizontalement */
    }
    .proj {
        margin-left: 0;
        margin-bottom: 20px;
        width: auto;
        height: auto;
    }
}

